:root{
    --white: #ffffff;
    --bg-color: rgb(224, 194, 28);
    --bg-input-color:  #000000;
}

body
{
    background-color: var(--bg-color) !important; 
} 

.login-space {
    height: 350px;

}
#title{
    height: 100px;
    font-family: 'Oswald', sans-serif !important;
     
}
.input-login-box{

    height: 300px;
    width: 300px;
    display: inline-block;
    background-color:var(--bg-input-color);
    color: var(--white);
    border: 1px solid #333; 
    border-style: ridge;
    flex-wrap: wrap;

    
    padding: 1rem;
   
    border-radius: 12%;
   
    
    
}
.form-label{

    font-weight: bold;
    white-space: nowrap;
    font-family: 'Oswald', sans-serif !important;
}
.input-group{
    padding-bottom: 0.5rem;
    width: 100%;
}
label{
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: bold;
    
}
.input{
    padding-left: 1rem;
}
.form-control{
    display: block;
}
form i {
    margin-left: -30px;
    cursor: pointer;

}
.fa-eye{
   color: black;
   background-color: #fff;
   height: 37.5px;
   width: 37.5px;
   border-radius: 12%;
   border: 1px solid #ced4da;
   
}
.button-block{
    display: inline-block;
    width: 100%;
    height:25%;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 0.5%;
    font-weight: bold;

    transition: background-color .5s,
    color .2s;
   
}
.button-block:hover{
    background-color: var(--white);
    
}
.body2
{
    background-color: var(--bg-color) !important;
}
.email, .f_Name, .l_Name, .userName, .passWord, .re-passWord{
    width: 300px !important;
}

.needs-validation{
    padding: 1rem;
    border: 1px solid #333; 
    border-style: ridge;
    display: inline-block;
    background-color: var(--bg-input-color);
    color: var(--white);
    border-radius: 12%;
    padding-bottom: 1rem;
 
}
