

body
{
    background-color: rgb(224, 194, 28) !important; 
} 
.login-space {
    height: 350px;

}
#title{
    height: 100px;
    font-family: 'Oswald', sans-serif !important;
     
}
.input-box{

    height: 300px;
    width: 300px;
    background-color: black;
    color: white;
    border: 1px solid #333; 
    border-style: ridge;
    flex-wrap: wrap;

    display: flex;
    padding: 1rem;
    padding-bottom: 5.5rem;
    border-radius: 12%;
    
    
}
.form-label{

   
    font-weight: bold;
    white-space: nowrap;
    font-family: 'Oswald', sans-serif !important;
}
.form-group {
    display: block;
    width: 100%;
    height: 40%;
    margin-bottom: 5px;
   
}
label{
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: bold;
    
}
.form-control{
    display: block;
    width: 100%;
    margin-bottom: 5px;
    font-size: 14px;
    
}
.button-block{
    display: block;
    width: 100%;
    height:25%;
    margin-bottom: 10px;
    border-radius: 0.5%;
    font-weight: bold;

    transition: background-color .5s,
    color .2s;
   
}
.button-block:hover{
    background-color: white;
    
}
